quill-editor ::ng-deep .ql-editor {
  padding: 0;
}
quill-editor ::ng-deep .ql-container {
  border: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 12px;
}

quill-editor ::ng-deep .comment {
  background: #d4c7f5;
  display: inline-block;
  font-size: inherit;
  font-weight: normal;
  text-decoration: inherit;
}
