h3 {
  font-size: 14px;
  color: #31006f;
  flex: 1 0 0;
  margin-bottom: 0;
}

.section-title {
  display: flex;
  justify-content: space-between;
}

.title-buttons {
  display: flex;
  flex: 0 0 120px;
  text-align: right;
  justify-content: flex-end;
}

.button.is-text {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  font-size: 12px;
}

.button.is-text.undo {
  margin-right: 10px;
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  min-height: 32px;
}

.table-options {
  display: flex;
  list-style: none;
  margin: 0;

  padding: 0;
}

.padli {
  padding-right: 5px;
}

.handle {
  cursor: pointer;
  color: #31006f;
}

.arrow-rotate {
  transform: rotate(90deg);
}

.title-input {
  border: 0;
  border-bottom: 1px solid #9179b7;
  padding: 1px;
  width: 70px;
  background: transparent;
}

.codes-input {
  border: 0;
  border-bottom: 1px solid #9179b7;
  padding: 3px;
  display: inline-block;
  position: relative;
  top: 4px;
  min-width: 10px;
}

.codes-input ::ng-deep app-cell-editor .ql-container {
  font-size: 14px;
}

.codes-input.input-read-only {
  border-bottom: none;
  padding: 0;
}

.section-not-found {
  font-size: 13px;
  margin: 0 0 10px;
}

.disable-section {
  padding: 0 5px;
}

.disable-section ::ng-deep p-inputSwitch .ui-inputswitch {
  width: 1.75em !important;
  height: 1.25em !important;
  position: relative;
  top: 2px;
}

.disable-section
  ::ng-deep
  p-inputSwitch
  .ui-inputswitch
  .ui-inputswitch-slider:before {
  height: 0.75em !important;
  width: 0.75em !important;
  left: 0.25em !important;
  bottom: 0.25em !important;
}

.disable-section
  ::ng-deep
  p-inputSwitch
  .ui-inputswitch.ui-inputswitch-checked
  .ui-inputswitch-slider:before {
  transform: translateX(0.5em) !important;
}
