<div
  class="sections-navigation-wrapp"
  [ngClass]="{ 'is-fullscreen': isFullScreen }"
>
  <button
    (click)="toggleNavigation()"
    class="navigation-toggle"
    [ngClass]="{ 'closed-toggle': !isNavigationOpen }"
    [attr.slm-id]="'navigation_toggle_btn'"
  >
    <span class="fa fa-bars"></span>
  </button>
  <ul [attr.slm-id]="'navigation_panel'" *ngIf="isNavigationOpen">
    <li
      *ngFor="let section of navigationItems"
      [ngClass]="{ 'dnb-navigation-completed': section.completed }"
    >
      <button (click)="scrollTo(section.id)" [attr.slm-id]="section.id">
        {{ section.name }}
        <ng-container
          *ngIf="
            section.feedbackLeft !== null &&
            section.feedbackLeft !== undefined
          "
        >
          <span
            [ngClass]="
              section.feedbackLeft > 0 ? 'feedback-left' : 'feedback-cleared'
            "
          >
            <ng-container *ngIf="section.feedbackLeft > 0; else check">
              {{ section.feedbackLeft }}
            </ng-container>
            <ng-template #check>
              <i class="fa fa-check"></i>
            </ng-template>
          </span>
        </ng-container>
      </button>
    </li>
  </ul>
</div>
