<div *ngIf="status != '' && readyToDisplay">
  <div *ngIf="type == 'RULE' || type == 'CHANGE-TEMP'">
    <provisionalRule-Root [selectorConfig]="configRule" [displayRMR]="type == 'CHANGE-TEMP'"></provisionalRule-Root>
  </div>

  <div *ngIf="type == 'IDEA' && status != 'DRAFT'">
    <newIdeaResearch-Root [ideaIdInp]="id" [readOnlyView]="readOnlyView"></newIdeaResearch-Root>
  </div>

  <div *ngIf="type == 'IDEA' && status == 'DRAFT'">
    <newidea [ideaIdInp]="id" [readOnlyView]="readOnlyView"></newidea>
  </div>
</div>