<fieldset id="fieldset2" class="col-md-12" Id="provisonalRows" *ngIf="fromMaintenanceProcess">
  <div class="row">
    <div class="col-md-12">
      <label class="labelHeader">Claims Selection</label>
    </div>
  </div>

  <div class="col-8" style="padding-top: 10px;padding-bottom: 20px;">
    <label><span class="required-field-color">*</span>Claim Type:</label>
      <p-multiSelect #multiSelectClaims [pTooltip]="parentClaimTypesToolTip" tooltipPosition="bottom" [appendTo]="multiSelectClaims" 
      id="claimTypes2" [required]="true" [options]="claimTypesRc" name="selectedClaimTypesRc" id="claimTypeFieldRc"
      [disabled]="true" [(ngModel)]="claimTypesSelectionRc" [style]="{width:'100%'}">
    </p-multiSelect>
  </div>

  <div class="row">

    <div class="col-md-6">
      <div>
        <label class="labelSubHeader">Facility Claims-UB-04</label>
      </div>
      <div>
        <fieldset class="list-fieldset">
          <label class="labelForTextbox">Include</label>

          <p-listbox class="list-box list-background list-header list-text" [disabled]="provDialogDisable"
            [options]="originalIncludedBillClaims" [readonly]="billTypes" [style]="originalTypesStyle"
            multiple="multiple" filter="filter">
          </p-listbox>

          <label class="labelForTextbox">Exclude</label>

          <p-listbox class="list-box list-background list-header list-text" [disabled]="provDialogDisable"
            [options]="originalExcludedBillClaims" [readonly]="billTypes" [style]="originalTypesStyle"
            multiple="multiple" filter="filter">
          </p-listbox>

        </fieldset>
      </div>
    </div>
  </div>

</fieldset>

<fieldset class="col-md-12" Id="provisonalRows">
  <div class="row">
    <div class="col-6">
      <label><span class="required-field-color">*</span>Claim Type:</label>
      <p-multiSelect (onChange)="setToolTipValueOnChange()" [pTooltip]="selectedClaimTypesToolTip" tooltipPosition="bottom" id="claimTypes" [required]="true"  
        [options]="claimTypes" name="selectedClaimTypes" id="claimTypeField" [disabled]="provDialogDisable"
        [(ngModel)]="claimTypesSelection" [style]="{width:'100%'}" [tooltipZIndex]="999999999">
      </p-multiSelect>
    </div>
  </div>
  <div class="row"  style="padding-top: 10px;padding-bottom: 20px;">
      <div class="col-5" ><label>Form Type: Facility Claims-UB-40</label></div>
  </div>

  <div class="row">
    <!-- div for the facility claims selection and include exclude lists -->
    <div class="col-md-12" *ngIf="facility">
      <fieldset id="fieldset" [disabled]="billTypes">
        <legend>Bill Types</legend>
        <div class="row" id="provisonalRows">
          <div class="col-md-5">
            <p-listbox class="list-box" [options]="billClaimLists" [disabled]="provDialogDisable" [readonly]="billTypes"
              [(ngModel)]="selectedBillClaims" [ngModelOptions]="{standalone: true}" multiple="multiple"
              checkbox="checkbox" filter="filter"
              [style]="{'width':'100%','height':'280px','overflow':'auto','font-size':'12px','border':'1px solid #31006F'}">
            </p-listbox>
          </div>
          <div class="col-md-7">
            <div class="row">
              <div class="col-md-3" Id="provisonalRows">
                <div class="row" Id="provisonalRows"><button id="billIncludeR" class="button btn-primary"
                    [disabled]="billTypes" style="width:90%" (click)="moveToIncludeR($event)" id="B"> > </button>
                </div>
                <div class="row" Id="provisonalRows"><button id="billIncludeL" class="button btn-primary"
                    [disabled]="billTypes" style="width:90%" (click)="moveToIncludeL($event)" id="B">&#60; </button>
                </div>
              </div>
              <div class="col-md-8" id="list-gap">
                <div class="row">
                  <label>Include</label>
                </div>
                <div class="row">
                  <p-listbox class="list-box" [disabled]="provDialogDisable" [options]="includedBillClaims"
                    [readonly]="billTypes" [(ngModel)]="selectedBillIncClaims" [ngModelOptions]="{standalone: true}"
                    [style]="{'width':'100%','overflow': 'auto','height':'110px','border':'1px solid #31006F'}"
                    style="width:100%;height:100px;" multiple="multiple" checkbox="checkbox" filter="filter">
                  </p-listbox>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3" Id="provisonalRows">
                <div class="row" Id="provisonalRows"><button id="billExcludeR" class="button btn-primary"
                    style="width:90%" [disabled]="billTypes" (click)="moveToExcludeR($event)" id="B"> > </button>
                </div>
                <div class="row" Id="provisonalRows"><button id="billExcludeL" class="button btn-primary"
                    style="width:90%" [disabled]="billTypes" (click)="moveToExcludeL($event)" id="B"> &#60;</button>
                </div>
              </div>
              <div class="col-md-8" id="list-gap">
                <div class="row">
                  <label>Exclude</label>
                </div>
                <div class="row">
                  <p-listbox class="list-box" [disabled]="provDialogDisable" [options]="excludedBillClaims"
                    [readonly]="billTypes" [(ngModel)]="selectedBillExcClaims" [ngModelOptions]="{standalone: true}"
                    [style]="{'width':'100%','overflow': 'auto','height':'110px','border':'1px solid #31006F'}"
                    style="width:100%;height:100px;" multiple="multiple" checkbox="checkbox" filter="filter">
                  </p-listbox>
                </div>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
</fieldset>