<ecl-table #eclTable [tableModel]='eclTableConfig' (onAcctionLink)="openDetails($event)" 
  (onAcctionIcon)="showLunchBox($event)" (onSelectRecord)="setSelectRules($event)" 
  (onUnSelectRecord)="setSelectRules($event)" (onServiceCall)="afterServiceCall($event)"></ecl-table>
<br>
<div class="clearfix">
  <div class="float-left">
    <button type="button" name="action" class="btn btn-primary btn-sm f-11" (click)="refreshEclTable()">
      <i class="pi pi-refresh" style="font-size: 1em"></i> Refresh
    </button>
  </div>
  <div class="float-right">
    <button type="button" class="btn btn-primary btn-sm f-11" (click)="save(false)" appThrottleTimeClick
      [throttleTime]="2500" [disabled]="selectedRules.length == 0"><i class="fa fa-save"></i> Save</button>
    &nbsp;
    <button type="button" class="btn btn-primary btn-sm f-11" (click)="save(true)" appThrottleTimeClick
      [throttleTime]="2500" [disabled]="selectedRules.length == 0"><i class="fa fa-check"></i> Submit</button>
    &nbsp;
    <button type="button" class="btn btn-primary btn-sm f-11" (click)="showReturnDialog()" appThrottleTimeClick
      [throttleTime]="2500" [disabled]="selectedRules.length == 0"><i class="fa fa-reply"></i> Return</button>
  </div>
</div>