<p-tabView>
    <p-tabPanel header="Assigned" [cache]="false">
        <ng-template pTemplate="content">
            <div class="row">
                <div class="col">
                    <ecl-table #assignedTable [tableModel]="assignedTableConfig"
                        (onAcctionLink)="redirect($event, 'assigned')"
                        (onAcctionIcon)="showLunchBox($event.row.ruleId, $event.row.instanceId)"
                        (onSelectRecord)="setSelectRules($event, 'assigned')"
                        (onUnSelectRecord)="setSelectRules($event, 'assigned')"
                        (onServiceCall)="onServiceCall($event, 'assigned')"></ecl-table>
                    <br>
                    <div class="clearfix">
                        <div class="float-left">
                            <button type="button" name="action" class="btn btn-primary btn-sm f-11" appThrottleTimeClick
                                (throttleTimeClick)="resetDataTable('assigned')" [throttleTime]="2500">
                                <i class="pi pi-refresh" style="font-size: 1em"></i> Refresh
                            </button>
                        </div>
                        <div class="float-right">
                            <button type="button" name="action" class="btn btn-primary btn-sm f-11" appThrottleTimeClick
                                (throttleTimeClick)="submitRules()" [throttleTime]="2500"
                                [disabled]="!selectedRules! || selectedRules.length < 1 || !elementsReadyForSubmit('assigned')"><i
                                    class="fa fa-check"></i> Submit
                            </button> &nbsp;
                            <button type="button" class="btn btn-primary btn-sm f-11" (click)="showReturnDialog()"
                                [disabled]="selectedRules.length <= 0"><i class="fa fa-reply"></i> Return</button>

                        </div>
                    </div>

                </div>
            </div>
        </ng-template>
    </p-tabPanel>
    <p-tabPanel header="Returned" [cache]="false">
        <ng-template pTemplate="content">
            <div class="row">
                <div class="col">
                    <ecl-table #returnedTable [tableModel]="returnedTableConfig"
                        (onAcctionLink)="redirect($event, 'returned')"
                        (onAcctionIcon)="showLunchBox($event.row.ruleId, $event.row.instanceId)"
                        (onSelectRecord)="setSelectRules($event, 'returned')"
                        (onUnSelectRecord)="setSelectRules($event, 'returned')"
                        (onServiceCall)="onServiceCall($event, 'returned')"></ecl-table>
                </div>
            </div>
            <br>

            <div class="clearfix">
                <div class="float-left">
                    <button type="button" name="action" class="btn btn-primary btn-sm f-11" appThrottleTimeClick
                        (throttleTimeClick)="resetDataTable('returned')" [throttleTime]="2500">
                        <i class="pi pi-refresh" style="font-size: 1em"></i> Refresh
                    </button>
                </div>
                <div class="float-right">
                    <button type="button" name="action" class="btn btn-primary btn-sm f-11" appThrottleTimeClick
                        (throttleTimeClick)="submitRulesReturned()" [throttleTime]="2500"
                        [disabled]="!selectedRulesReturned || selectedRulesReturned.length < 1 || !elementsReadyForSubmit('returned')"><i
                            class="fa fa-check"></i> Submit
                    </button>

                </div>
            </div>
        </ng-template>

    </p-tabPanel>
</p-tabView>