<app-dnb-breadcrumb></app-dnb-breadcrumb>
<div class="dnb-page-btns pull-right">
  <button
    (click)="createNewVersion()"
    [disabled]="!shouldEnabledCreate"
    [attr.slm-id]="'create_new_version_btn'"
    *ngIf="isEditor"
  >
    Create New Drug Version
  </button>
</div>
<h1 class="dnb-title">
  Review Drug Versions <span class="drug-version-name">{{ drugName }}</span>
</h1>
<p>Click on a record to view the drug version information.</p>
<div class="table-container">
  <ecl-table
    #versionTable
    [tableModel]="tableConfig"
    (onAcctionLink)="selectDrug($event)"
    (onAcctionIcon)="openSelectType($event)"
    (onActionCheckChild)="toggledVersion($event)"
    (onActionMultiLineLinkChild)="openDetails($event)"
    (onServiceCall)="serviceCall($event)"
  ></ecl-table>
</div>
<div class="dnb-page-btns">
  <button
    [attr.slm-id]="'compare_versions_btn'"
    [disabled]="!shouldEnableCompare"
    (click)="compare()"
  >
    Compare Drug Versions
  </button>
</div>
