<ul class="letters-links">
  <li
    [ngClass]="letterFilter === 'A' ? 'highlight' : ''"
    (click)="filterEmit('A')"
  >
    <a>A</a>
  </li>
  <li
    [ngClass]="letterFilter === 'B' ? 'highlight' : ''"
    (click)="filterEmit('B')"
  >
    <a>B</a>
  </li>
  <li
    [ngClass]="letterFilter === 'C' ? 'highlight' : ''"
    (click)="filterEmit('C')"
  >
    <a>C</a>
  </li>
  <li
    [ngClass]="letterFilter === 'D' ? 'highlight' : ''"
    (click)="filterEmit('D')"
  >
    <a>D</a>
  </li>
  <li
    [ngClass]="letterFilter === 'E' ? 'highlight' : ''"
    (click)="filterEmit('E')"
  >
    <a>E</a>
  </li>
  <li
    [ngClass]="letterFilter === 'F' ? 'highlight' : ''"
    (click)="filterEmit('F')"
  >
    <a>F</a>
  </li>
  <li
    [ngClass]="letterFilter === 'G' ? 'highlight' : ''"
    (click)="filterEmit('G')"
  >
    <a>G</a>
  </li>
  <li
    [ngClass]="letterFilter === 'H' ? 'highlight' : ''"
    (click)="filterEmit('H')"
  >
    <a>H</a>
  </li>
  <li
    [ngClass]="letterFilter === 'I' ? 'highlight' : ''"
    (click)="filterEmit('I')"
  >
    <a>I</a>
  </li>
  <li
    [ngClass]="letterFilter === 'J' ? 'highlight' : ''"
    (click)="filterEmit('J')"
  >
    <a>J</a>
  </li>
  <li
    [ngClass]="letterFilter === 'K' ? 'highlight' : ''"
    (click)="filterEmit('K')"
  >
    <a>K</a>
  </li>
  <li
    [ngClass]="letterFilter === 'L' ? 'highlight' : ''"
    (click)="filterEmit('L')"
  >
    <a>L</a>
  </li>
  <li
    [ngClass]="letterFilter === 'M' ? 'highlight' : ''"
    (click)="filterEmit('M')"
  >
    <a>M</a>
  </li>
  <li
    [ngClass]="letterFilter === 'N' ? 'highlight' : ''"
    (click)="filterEmit('N')"
  >
    <a>N</a>
  </li>
  <li
    [ngClass]="letterFilter === 'O' ? 'highlight' : ''"
    (click)="filterEmit('O')"
  >
    <a>O</a>
  </li>
  <li
    [ngClass]="letterFilter === 'P' ? 'highlight' : ''"
    (click)="filterEmit('P')"
  >
    <a>P</a>
  </li>
  <li
    [ngClass]="letterFilter === 'Q' ? 'highlight' : ''"
    (click)="filterEmit('Q')"
  >
    <a>Q</a>
  </li>
  <li
    [ngClass]="letterFilter === 'R' ? 'highlight' : ''"
    (click)="filterEmit('R')"
  >
    <a>R</a>
  </li>
  <li
    [ngClass]="letterFilter === 'S' ? 'highlight' : ''"
    (click)="filterEmit('S')"
  >
    <a>S</a>
  </li>
  <li
    [ngClass]="letterFilter === 'T' ? 'highlight' : ''"
    (click)="filterEmit('T')"
  >
    <a>T</a>
  </li>
  <li
    [ngClass]="letterFilter === 'U' ? 'highlight' : ''"
    (click)="filterEmit('U')"
  >
    <a>U</a>
  </li>
  <li
    [ngClass]="letterFilter === 'V' ? 'highlight' : ''"
    (click)="filterEmit('V')"
  >
    <a>V</a>
  </li>
  <li
    [ngClass]="letterFilter === 'W' ? 'highlight' : ''"
    (click)="filterEmit('W')"
  >
    <a>W</a>
  </li>
  <li
    [ngClass]="letterFilter === 'X' ? 'highlight' : ''"
    (click)="filterEmit('X')"
  >
    <a>X</a>
  </li>
  <li
    [ngClass]="letterFilter === 'Y' ? 'highlight' : ''"
    (click)="filterEmit('Y')"
  >
    <a>Y</a>
  </li>
  <li
    [ngClass]="letterFilter === 'Z' ? 'highlight' : ''"
    (click)="filterEmit('Z')"
  >
    <a>Z</a>
  </li>
  <li
    [ngClass]="letterFilter === '#' ? 'highlight' : ''"
    (click)="filterEmit('#')"
  >
    <a>0-9</a>
  </li>
</ul>
