<p-dialog
  [header]="setUpDialog.header"
  [(visible)]="openDialog"
  (onHide)="dialogHidden()"
>
  <div class="dialog-content">
    <span *ngFor="let container of setUpDialog.container">
      <p-radioButton
        [value]="container.value"
        [(ngModel)]="valueDialog"
        [label]="container.label"
      >
      </p-radioButton>
    </span>
  </div>
  <p-footer>
    <div class="dnb-page-btns">
      <button (click)="dialogSelected()">Ok</button>
      <button *ngIf="setUpDialog.buttonCancel" (click)="dialogHidden()">
        Cancel
      </button>
    </div>
  </p-footer>
</p-dialog>
