<p-card class = "ecl-table-admin-list">
  <div class="text-right" style="right: 15px; padding: 5px;">
      <button class="btn btn-sm btn-primary f-11" style="padding: 5px;"
        [disabled]="false" [routerLink]="['/cure-and-repo/repo/table-add-edit/', 0]">
        <i class="fa fa-plus"></i> Add New table
      </button>
  </div>
  <div class="ui-fluid">
      <ecl-table #cureModulesTable [tableModel]='cureModulesTableModel' 
      (onAcctionIcon)="onClickEditAttribute($event)" (onAcctionButton)="switchStatusAttributeTemplate($event)"
      (onSelectRecord)="setSelectRules($event)" (onUnSelectRecord)="setSelectRules($event)"></ecl-table>
  </div>
  <br>
  <div class="ui-fluid">
    <button class="btn btn-sm btn-primary f-11" style="padding: 5px;"
      [disabled]="!this.selectedRecords || !this.selectedRecords.length"
      (click)="processModule()">Activate / Deactivate
    </button>
  </div>
</p-card>