<p-blockUI [blocked]="loading">
  <div class="img-loading text-center">
    <img src="assets/img/loading.gif"/>
    <p style="font-size: 12px;color: #fff;">Loading, please wait...</p>
  </div>
</p-blockUI>

<h5 class='title-header' style="position: relative;">
  {{pageTitle}}
</h5>
<div class="container-fluid" style="padding: 0px">
  <hr>
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <p-tabView [activeIndex]="activeTab" (onChange)="handleChange($event)">
        <p-tabPanel header="ICMS" [selected]="true">
          <ng-template pTemplate="content">
            <ecl-table #icmsTable [tableModel]="tableConfig" (onAcctionLink)="redirectToRule($event)"></ecl-table>
          </ng-template>
        </p-tabPanel>

        <p-tabPanel header="CVP">
          <ng-template pTemplate="content">
            <ecl-table #cvpIngestionTable [tableModel]='cvpTableConfig' (onAcctionLink)="redirect($event)"></ecl-table>
            <br>
            <div class="row">
              <div class="col-6">
                <button type="button" class="no-print btn btn-primary float-left small-td"
                  [disabled]="!cvpIngestionTable.selectedRecords || cvpIngestionTable.selectedRecords <= 0"
                  (click)="exportTemplate('cvpIngestionTable', 'cvpIngestionId', 'cvpService')" value="Export Selected CVP Template">Export selected CVP Templates to
                  Excel</button>
              </div>
              <div class="col-6" *ngIf="userHasCvpRole">
                <ecl-file-uploader [fileUpladerOptions]="fileUpladerOptions"
                  (uploadEnded)="onCvpTemplateUploadEnded($event)" [showInputText]="false" [simpleUploader]="true">
                </ecl-file-uploader>
              </div>
            </div>
            <br><br>
          </ng-template>
        </p-tabPanel>
        <p-tabPanel header="CPE">
          <ng-template pTemplate="content">
            <ecl-table #cpeTable [tableModel]="cpeTableConfig" (onAcctionLink)="openCpeTemplate($event)"></ecl-table>
            <br>
            <div class="row">
              <div class="col-6">
                <button type="button" class="no-print btn btn-primary float-left small-td"
                  [disabled]="!cpeTable.selectedRecords || cpeTable.selectedRecords <= 0" (click)="exportTemplate('cpeTable', 'cpeIngestionId', 'cpeService')"
                  value="Export Selected CVP Template">Export CPE rules to excel</button>
              </div>
              <div class="col-6">
                <ecl-file-uploader [fileUpladerOptions]="fileUpladerOptions"
                  (uploadEnded)="onCpeTemplateUploadEnded($event)" [showInputText]="false" [simpleUploader]="true">
                </ecl-file-uploader>
            </div>
            </div>
            <br><br>
          </ng-template>
        </p-tabPanel>
      </p-tabView>
      <div class="row">
        <div class="col-12">
          <div class="text-right">
            <button *ngIf="comeFromLibraryRuleScreen" type="button" (click)="returnPreviousScreen()"
              class="btn btn-primary btn-sm btn-sm f-11 btn-ell-return"><i class="fa fa-reply"></i> Return </button>
          </div>
        </div>
      </div>      
    </div>
  </div>
</div>

<p-toast [baseZIndex]="999999"></p-toast>

<p-overlayPanel #ruleDescriptionOverlayPanel>
  <div *ngIf="selectedRuleOverlay">
    Rule description: {{selectedRuleOverlay.logic}}
  </div>
</p-overlayPanel>