<div class="icds-tab">
  <div class="row top-bar" *ngIf="!(provDialogDisable || readOnlyView)">
    <div class="col-md-2">
      <label class="label-text">{{showLabel()}}</label>
    </div>
    <div class="col-md-3 text-right pl-0 pr-0">
      <input type="radio" id="ADD_CODES_INDIVIDUALY" name="groupTab" [value]="ADD_CODES_INDIVIDUALY"
        [(ngModel)]="icdRadio" (change)="changeTab()" />
      <label for="ADD_CODES_INDIVIDUALY" [ngClass]="(icdRadio == 'ACI')?'active-blue':''" class="pl-1">Add Codes
        Individually</label>
    </div>

    <div class="col-md-2 text-center pl-0 pr-0">
      <input type="radio" id="USE_SPREADSHEET" name="groupTab" [value]="USE_SPREADSHEET" [(ngModel)]="icdRadio"
        (change)="changeTab()" />
      <label for="USE_SPREADSHEET" [ngClass]="(icdRadio == 'US')?'active-blue':''" class="pl-1">Upload
        Spreadsheet</label>
    </div>

    <div class="col-md-2 text-left pl-0 pr-0">
      <input type="radio" id="COPY_PASTE" name="groupTab" [value]="COPY_PASTE" [(ngModel)]="icdRadio"
        (change)="changeTab()" />
      <label for="COPY_PASTE" [ngClass]="(icdRadio == 'CPC')?'active-blue':''" class="pl-1">Copy/Paste codes</label>
    </div>
  </div>

  <div class="row">
    <div [hidden]="(provDialogDisable || readOnlyView)" class="col-12">

      <!--Spreadsheet-->
      <div *ngIf="icdRadio == USE_SPREADSHEET" class="row spreadsheet">
        <div class="col-md-12">
          <div class="file-template" (drop)="dropFileHandler($event)" (dragover)="$event.preventDefault()">
            <div class="no-files-legend">Drop files to attach or <a nghref="#" (click)="fileTemplate.click()">browse</a>
            </div>
            <input type="file" hidden #fileTemplate
              accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
              (change)="changeFile($event)" />
          </div>
        </div>
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12">
              <div><a nghref="#"
                  style="font-size:11px; color:#007ad9 ; text-decoration:underline; float:right; padding:10px;"
                  (click)="downloadXslFile()">Download Template</a>
              </div>

            </div>


          </div>
        </div>
      </div>

      <!--Copy Paste-->

      <div *ngIf="icdRadio == COPY_PASTE" class="copy-paste">
        <app-icd-copy-paste #copyTag [(errorMap)]="errorList" [(ruleInfo)]="_ruleInfo"
          (addRowToCodes)="generateRuleProcedureCode($event)" [categories]="categories"
          [primarySecondary]="primarySecondary">
        </app-icd-copy-paste>
      </div>

      <!-- Individually -->
      <div class="individually" [hidden]="icdRadio != ADD_CODES_INDIVIDUALY && selectedICD == null">
        <app-icd-individually-codes #individuallyTag [(rowToEdit)]="selectedICD" [readOnlyView]="readOnlyView"
          [(ruleInfo)]="ruleInfo" (onAdd)="addICD($event)" (onLoad)="loadFinish($event)">
        </app-icd-individually-codes>
      </div>
      <div>
        <app-error-codes #errorTag [errorMap]="errorList" [selectedRadioValue]="icdRadio"></app-error-codes>
      </div>
    </div>
  </div>

  <div class="mt-3">

    <div class="row">
      <div class="col-md-6 text-left">
        <h4>Newly Added Codes</h4>
      </div>
      <div class="col-md-6 text-right" id="legend">
        <span id="square"></span><label>Deleted</label>
      </div>
    </div>

    <div class="section-table">
      <ecl-table #viewTable [tableModel]='tableConfig'
        (onSelectRecord)="onRowSelect($event)"
        (onUnSelectRecord)="onRowUnselect($event)"
        (onTrashButtonCall)="deleteSelection($event)"
        (onRecoveryButtonCall)="recoverSelection($event)">
      </ecl-table>
    </div>

  </div>

  <p-confirmDialog key="icdDialog"></p-confirmDialog>

  <p-blockUI [blocked]="blockICD">
    <div class="img-loading text-center">
        <img src="assets/img/loading.gif"/>
        <p style="font-size: 12px; color: #fff;">Loading, please wait...</p>
    </div>
  </p-blockUI>

</div>