h5 {
    font-size: 17px;
    margin-bottom: 15px;
}

/* .form-container  {
    border: 1px solid;
    border-radius: 3px;
    padding: 20px;
    left: 0px;
    top: 0px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(161, 161, 161, 1);
    border-radius: 3px;
    -moz-box-shadow: -3px -1px 3px rgba(0, 0, 0, 0.349019607843137);
    -webkit-box-shadow: -3px -1px 3px rgba(0, 0, 0, 0.349019607843137);
    box-shadow: -3px -1px 3px rgba(0, 0, 0, 0.349019607843137);
  } */

 .form-container {
    -moz-box-shadow: -3px -1px 3px rgba(0, 0, 0, 0.349019607843137);
    -webkit-box-shadow: -3px -1px 3px rgba(0, 0, 0, 0.349019607843137);
    box-shadow: -3px -1px 3px rgba(0, 0, 0, 0.349019607843137);
    padding: 10px;
    background-color: white;
    height: 100%;
    width: 100%;
    min-width: 1080px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(161, 161, 161, 1);
    border-radius: 3px;
    margin-bottom: 20px;
    justify-content: flex-end;
    justify-items: flex-end;
} 

.button-container { 
    display: flex;
    justify-content: space-between;
}

.basic-cot.btn {
    width: 100%;
    margin: 12px;
    border-radius: 1px;
}
.confirmDialog {
    z-index: 1002;
    left: 550px;
    top: 350px;
    transform: none;
    opacity: 1;
  }
/***** SHADOW DOM CSS OVERRIDE *****/

:host>>>.ui-tabview {
    margin: 10px;
}
:host>>>.ui-tabview-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
}
