<i class="fa fa-times" (click)="close()"></i>
<h3 class="dnb-title">Add Query</h3>
<textarea
  #textarea
  [ngModel]="comment.comment"
  (ngModelChange)="commentChange($event)"
  rows="3"
  maxlength="4000"
></textarea>
<p class="text-l">{{ comment.comment.length }}/4000</p>
<div class="comment-footer dnb-page-btns">
  <button *ngIf="comment.elementId === null" (click)="saveComment()">
    Add
  </button>
  <button *ngIf="comment.elementId !== null" (click)="removeComment()">
    Delete
  </button>
</div>
