<div>

  
  <p-table #viewGrid [columns]="cols" [value]="filteredWorkflowList" [paginator]="true"  [resizableColumns]="true" columnResizeMode="fit"
           [reorderableColumns]="true" [rows]="5" [rowsPerPageOptions]="[5,10,20]" [loading]="loading" [responsive]="true">

    <ng-template pTemplate="caption">
      <div class="row">
        <div class="leftMargin">
          Filter by :
        </div>
        <div *ngIf = "includeCR" class="leftMargin">
          <p-checkbox binary="true" label="Custom Rule" [(ngModel)]="selectedCR" (click)="filerDataTable()"></p-checkbox>
        </div>
        <div class="leftMargin">
          <p-checkbox binary="true" label="Library Rule" [(ngModel)]="selectedLR" (click)="filerDataTable()"></p-checkbox>
        </div>
        <div class="leftMargin">
          <p-checkbox binary="true" label="Provisional Rule" [(ngModel)]="selectedPR" (click)="filerDataTable()"></p-checkbox>
        </div>
        <div class="leftMargin">
          <p-checkbox binary="true" label="Idea" [(ngModel)]="selectedID" (click)="filerDataTable()"></p-checkbox>
        </div>
        <div class="rightMargin">
          <input type="text" #pInputText size="50" placeholder="Keyword Search" [(ngModel)]="keywordSearch"
                 (input)="viewGrid.filterGlobal($event.target.value, 'contains')"
                 style="width:150px; border-radius: 5px">
          <span style="cursor: pointer"><i *ngIf = "keywordSearch !== ''" (click)="viewGrid.reset(); pInputText.value=''; keywordSearch=''" style="cursor: pointer" class="fa fa-times-circle purple" style="margin:4px 4px 4px 4px"></i></span>
          <i *ngIf = "keywordSearch === ''" class="fa fa-search purple" style="margin:4px 4px 4px 4px"></i>
        </div>
      </div>

    </ng-template>

    <ng-template pTemplate="header" let-columns>
      <tr>
        <th class="small-th" style="text-align: center; " *ngFor="let col of columns"
            [pSortableColumn]="col.field" [ngStyle]="{'width': col.width}" pResizableColumn>
          {{col.header}}
          <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                      ariaLabelDesc="Activate to sort in descending order"
                      ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-workflow let-columns="columns">
      <tr [pSelectableRow]="workflow">
        <td class="small-td;" *ngFor="let col of columns">

          <span *ngIf="col.field == 'eclCode'" class="span-centered" style="text-align: center; ">{{workflow.eclCode}}
            <i *ngIf="workflow.sourceRule"
            style="font-size: 13px; font-weight: bold; margin-left: 5px;" class="s-indicator"></i>
          </span>

          <span *ngIf="col.field == 'status'" class="span-centered" style="text-align: center; ">{{workflow.status}}</span>

          <span *ngIf="col.field == 'assignedTo'" class="span-centered" style="text-align: center; ">{{workflow.assignedTo}}</span>

          <span *ngIf="col.field == 'assignedOn'" class="span-centered" style="text-align: center; ">{{workflow.assignedOn}}</span>

          <span *ngIf="col.field == 'assignedBy'" class="span-centered" style="text-align: center; ">{{workflow.assignedBy}}</span>

          <span *ngIf="col.field == 'action'" class="span-centered" style="text-align: center; ">{{workflow.action}}</span>

          <span *ngIf="col.field == 'comments'" class="span-centered" style="text-align: center; ">{{workflow.comments}}</span>

        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorright" let-state>
            <span *ngIf="state.totalRecords > 0" style="padding-right: 10px;">
              Showing <b>{{(state.page  * state.rows) + 1}}</b> - <b>{{state.totalRecords > (state.rows * (state.page + 1)) ? state.rows * (state.page + 1) : state.totalRecords}}</b>
              of <b>{{state.totalRecords}}</b>
        </span>
      <span style="padding-right: 10px; font-weight: bold" *ngIf="state.totalRecords < 1">No records found.</span>
    </ng-template>
  </p-table>

</div>
