h4 {
    text-align: center;
    padding-bottom: 15px;
    margin: 0;
}

.print-template {
    display: flex;
}

.header-item {
    height: 40px;
}

.break-word {
    word-break: break-word;
}

.sticky {
    width: 100px;
    margin: 2px;
}

.side-container {
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
    position: sticky;
    top: 12%;
    padding: 20px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.group {
    padding: 5px;
}

:host>>>.ui-table.ui-widget {
    width: 1000px;
    max-width: 1000px;
}