.dnb-table {
  table-layout: fixed;
}

.dnb-table th {
  word-break: break-word;
}

.table th {
  background: #c0afea;
  position: relative;
  border-right: none;
}

.dnb-table-container {
  overflow-y: auto;
}

.dnb-table-container tbody {
  border: 0 !important;
}

.table th,
.table td {
  font-size: 12px;
}

.table {
  background-color: #eaeaea;
}

.options {
  background-color: #a785ff;
  z-index: 999;
  width: 150px;
}

table tr:hover td,
table tr.row-selected td,
.dnb-table-container tbody:hover td[rowspan],
.dnb-table-container .group-selected td[rowspan] {
  background-color: #f3f0fd;
}

table tr td {
  position: relative;
  line-height: 1.42;
}

table tr:hover .options {
  display: block;
}

.options ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.options ul li {
  font-weight: bold;
  text-align: left;
  border-bottom: 1px solid black;
  height: 26px;
  line-height: 26px;
}

.options ul li:hover {
  background-color: #c3b1f3;
}

.options button {
  width: 100%;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.new-version-table td {
  background-color: #fff;
}

.table td,
.table th {
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
}

.readonly-table {
  min-height: 17px;
  white-space: pre-wrap;
}

.overflow {
  overflow: hidden;
  text-overflow: ellipsis;
}

.overflow2 {
  flex-wrap: normal;
  word-wrap: break-word;
}

.readonly-table ::ng-deep p {
  margin: 0;
}

.border {
  border-bottom: 10px solid #c0afea;
}

table tr.border td:not([rowspan]),
.dnb-table-container tbody.border td[rowspan] {
  border-bottom: 10px solid #c0afea;
}

.context-menu {
  position: fixed;
  z-index: 9999;
}

.dnb-table-container tbody {
  border-bottom: 0 !important;
  border-top: 0 !important;
}

.table.disabled {
  background-color: #eaeaea;
}

.new-version-table.table.disabled td {
  background-color: #eaeaea;
}

table.disabled tr:hover td,
table.disabled tr.row-selected td {
  background-color: #eaeaea;
}

.readonlycell {
  background-color: #eaeaea !important;
}

.feedback-box,
.comment-box {
  position: absolute;
  top: 0;
  margin: 0;
  width: 300px;
  background: #fff;
  padding: 10px;
  border: 1px solid #b9b9b9;
  box-shadow: 0 0 5px #b5b5b5;
  z-index: 99999 !important;
}

.checkBoxCol {
  width: 30px !important;
}

input[type="number"] {
  position: relative;
  padding: 5px;
  padding-right: 25px;
  width: 200px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: inner-spin-button !important;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  opacity: 1;
}

u[style*="orange"] .comment,
u[style*="yellow"] .comment,
span[style*="orange"] .comment,
span[style*="yellow"] .comment {
  background-color: inherit;
}

.dnb-dialog .ui-dialog-titlebar {
  border: 1px solid #c8c8c8 !important;
  background-color: #3b1e7b !important;
  color: #f8f9fa !important;
  padding: 1em !important;
  font-weight: 700 !important;
  border-bottom: 0 none !important;
}
