.dnb-title {
  font-size: 16px;
  color: #31006f;
  margin: 0;
}

.dnb-page-header {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.dnb-header-buttons {
  display: flex;
  align-items: center;
}

.dnb-header-buttons .dnb-toggle {
  padding: 0 0 0 15px;
  border-left: 1px solid #31006f;
  margin-left: 10px;
}

.dnb-header-buttons button {
  border: 0;
  font-size: 12px;
  background: transparent;
}

.dnb-header-buttons .dnb-toggle:first-child {
  padding: 0;
  border-left: 0;
  margin-left: 0;
}

.dnb-drag-placeholder {
  border: 2px dashed #afafaf;
  height: 50px;
  background-color: #d8d8d8;
}

.dnb-page.is-fullscreen {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100000;
  background: #f2f3f7;
  overflow-y: scroll;
}

.dnb-section-navigation {
  padding: 0 0 25px 15px;
  width: 150px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  height: 100vh;
}

.navigation-closed .dnb-section-navigation {
  width: 50px;
}

.dnb-page-content {
  margin-left: auto;
  width: calc(100% - 150px);
  padding: 15px;
}

.dnb-page-btns {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
}

.dnb-page-btns.dnb-buttons-floating {
  margin-bottom: 0;
  position: sticky;
  bottom: 0;
  z-index: 1000;
  background-color: #f2f3f7 !important;
  padding: 10px 0 25px;
  border-top: 1px solid #31006f;
}

button.dnb-btn {
  height: 30px;
  padding: 0 10px;
  line-height: 30px;
  background-color: #31006f;
  font-size: 12px;
  color: #fff;
  border-radius: 2px;
  border: none;
}

button.dnb-btn:disabled {
  background-color: #d7d7d7;
  color: #797979;
}

.dnb-page-btns button {
  height: 30px;
  padding: 0 10px;
  line-height: 30px;
  background-color: #31006f;
  font-size: 12px;
  color: #fff;
  border-radius: 2px;
  border: none;
  margin-left: 5px;
}

.dnb-page-btns button:disabled {
  background-color: #d7d7d7;
  color: #797979;
}

.dnb-page-btns .back-button {
  background-color: #fff;
  color: #000;
  border: 1px solid #d0d0d0;
  margin-left: 0;
  margin-right: auto;
}

.dnb-toggle {
  display: flex;
  align-items: center;
  height: 20px;
  line-height: 1;
}

.dnb-toggle label {
  color: #31006f;
  padding-left: 7px;
}

body .dnb-page .ui-inputswitch {
  width: 2.5em;
  height: 1.5em;
}

body
  .dnb-page
  .ui-inputswitch.ui-inputswitch-checked
  .ui-inputswitch-slider:before {
  -ms-transform: translateX(1em);
  transform: translateX(1em);
}

body .dnb-page .ui-inputswitch .ui-inputswitch-slider:before {
  background-color: #ffffff;
  height: 1em;
  width: 1em;
  left: 0.25em;
  bottom: 0.25em;
  border-radius: 50%;
  transition: 0.2s;
}

body .dnb-page .ui-inputswitch.ui-inputswitch-checked .ui-inputswitch-slider {
  background-color: #31006f !important;
}

body
  .dnb-page
  .ui-inputswitch.ui-inputswitch-checked:not(.ui-state-disabled):hover
  .ui-inputswitch-slider {
  background-color: #31006f;
}
body
  .dnb-page
  .ui-inputswitch.ui-inputswitch-checked.ui-inputswitch-focus
  .ui-inputswitch-slider {
  background-color: #31006f;
}

.sticky-sections {
  position: fixed;
  display: inline-block;
  right: 15px;
  left: 0;
  z-index: 999999;
  top: 0em;
  padding: 10px;
  background: #412585;
  width: calc(100% - 450px);
  margin-left: auto;
}

.dnb-page.is-fullscreen .sticky-sections {
  width: calc(100% - 145px);
}

.dnb-page.navigation-closed .sticky-sections {
  width: calc(100% - 350px);
}

.dnb-page.is-fullscreen.show-current .sticky-sections {
  width: calc(50% - 75px);
}

.dnb-page.navigation-closed.show-current .sticky-sections {
  width: calc(50% - 177px);
}

.dnb-page.is-fullscreen.navigation-closed .sticky-sections {
  width: calc(100% - 45px);
}

.dnb-page.is-fullscreen.navigation-closed.show-current .sticky-sections {
  width: calc(50% - 23px);
}

.sidebar-collapsed .dnb-page .sticky-sections {
  width: calc(100% - 23px);
}

.dnb-page.show-current .sticky-sections {
  width: calc(50% - 224px);
}

.dnb-progress-checkbox {
  font-size: 11px;
  padding: 0 5px;
}

.dnb-progress-checkbox label {
  font-size: 11px;
  cursor: pointer;
}

.feedback-left {
  background: #ff2424;
  color: white;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  font-size: 11px;
  line-height: 14px;
  margin-left: 3px;
}

.feedback-cleared {
  background: #8bc34a;
  color: #009688;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  font-size: 11px;
  line-height: 14px;
  margin-left: 3px;
}

td.feedbackLeft {
  position: relative;
}
td.feedbackLeft::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-top: 10px solid #f44336;
  border-left: 10px solid transparent;
}

td.feedbackCleared {
  position: relative;
}
td.feedbackCleared::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-top: 10px solid #43a047;
  border-left: 10px solid transparent;
}

.dnb-action-btns {
  margin-right: auto;
}

.dnb-action-btns button {
  margin-left: 0;
  margin-right: 5px;
}
