
.rule-not-applicable {
    color: red;
    font-weight: bold;
}

.ell-link {
    position: absolute;
    right: 100px;
    top: 10px;
    font-weight: bold;
}

.ell-link:hover {
    text-decoration: underline overline;
}