h5 {
    font-size: 17px;
    margin-bottom: 15px;
}

.search-title {
    padding: 5px;
}

/******* CONTAINERS *************/
.search-box {
    -webkit-box-shadow: -3px -1px 3px 1px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: -3px -1px 3px 1px rgba(0, 0, 0, 0.35);
    box-shadow: -3px -1px 3px 1px rgba(0, 0, 0, 0.35);

    min-height: 210px;
    min-width: 1080px;
    margin: 0 auto;
    background-color: white;
    height: 100%;
    border: 1px solid #31006F;
    border-radius: 2px;
    margin-bottom: 20px;
    justify-content: flex-end;
    justify-items: flex-end;
}

.wrapper {
    min-height: 120px;
    width: 100%;
}

.search-row {
    display: flex;
}

.search-item {
    width: 90%;
    margin-right: 5px;
}

.search-item-status,
.search-item-name {
    width: 50%;
    margin-right: 5px;
}

.search-item.btn.btn-primary {
    margin-left: 10px;
    height: 50px;
    border-radius: 1px;
}

.search-item-box-jur,
.search-item-box {
    height: 100%;
}
.search-item-box-lob {
    height: 100%;

}

.tab-panel-container {
    margin: 0px;
}

.group-item-search {
    display: flex;
    border: 1px solid #31006F;
    margin-left: 10px;
}

.group-item-switch {
    width: 100%;
}

.keyword-box {
    width: 100%;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.comment-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/******* CUSTOM LABEL AND INPUTS ********/

.custom-all-label {
    font-size: 12px;
    margin-bottom: 0px;
    padding: 10px;
    width: 100%;
    text-align: center;
}

.custom-all-label-pdg {
    font-size: 12px;
    margin-bottom: 0px;
    padding: 10px;
    width: 100%;
    text-align: center;
    padding-top:16px;
}

.custom-label,
.custom-label-cat,
.custom-label-status,
.custom-label-ideaName,
.custom-label-ideaDesc {
    display: block;
}

.custom-label-ideaComment {
    display: block;
    margin-top: 10px;
}

.input-control-ideaId,
.input-control-creator,
.input-control-status,
.input-control-ideaName,
.input-control-prm {
    width: 100%;
    height: 31px;
    margin-right: 10px;
    border-radius: 3px;
}

.input-control-ideaDesc {
    width: 100%;
    height: 80px;
    font-size: 9px;
    text-align: top;
}

.less-more-label {
    font-size: 14px;
    padding: 5px;
}

.cat-search {
    font-size: 12px;
    height: 27px;
    width: 320px;
}

/***********Basic CSS Style****************/
.basic-cot.btn {
    width: 150px;
    margin: 12px;
    border-radius: 1px;
}

.custom-checkbox {
    font-size: 24px;
    border: 1px solid rgb(70, 70, 70);
    border-radius: 2px;
    max-height: 21px;
    max-width: 21px;
}

.hide-show {
    display: none;
}

.keyword-search {
    /* Margin: topRight bottomleft */
    width: 100%;
    height: 40px;
    margin: 20px 0px 20px;
}

.magnify {
    margin-left: -30px;
}

.comment-item {
    height: 100%;
    margin: 10px;
    padding: 2px;
}

/***** SHADOW DOM CSS OVERRIDE *****/
::ng-deep.ui-dropdown-trigger.ui-state-default.ui-corner-right,
::ng-deep.ui-multiselect-trigger.ui-state-default.ui-corner-right {
    background-color: transparent;
}

:host ::ng-deep.ui-inputtext {
    background-color: transparent !important;
}

.state-search .ui-dropdown.ui-widget.ui-state-default.ui-corner-all,
.ui-multiselect.ui-widget.ui-state-default.ui-corner-all {
    background-color: transparent;
}
:host>>>.ui-tabview-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

:host>>>.multi-select-search .ui-multiselect,
:host>>>.state-search .ui-dropdown {
    border: none;
    text-align: center;
    position: relative;
    padding: 0px;
    margin: 0px;
}

:host>>>.multi-select-search .ui-multiselect-trigger-icon.ui-clickable{
    margin-top: 2px;
}

:host>>>.state-search .ui-dropdown-trigger-icon.ui-clickable {
    margin-top: 1px;
    margin-left: -0.3em;
    font-size: 1em;
}

:host>>>.ui-tabview {
    margin: 10px;
}

:host>>>.multi-select-search .ui-multiselect-label-container,
:host>>>.state-search .ui-dropdown-label  {
    font-weight: bold;
    font-size: 16px;
    width: 120px;
    color: #31006F;
    margin-top: 10px;
}

:host>>>.multi-select-search .ui-multiselect-header {
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
}

:host>>>.state-search .ui-dropdown-label  {
font-size: 16px!important;
padding: .429em 2em .429em .429em !important;
font-family: "Open Sans","Helvetica Neue",sans-serif !important;
white-space: normal;
text-overflow: ellipsis;
}

:host>>>.state-search .ui-dropdown {
    height: auto !important;
}

:host>>>.ui-dropdown-label {
    padding: -1px;
}
