:host>>>.ui-dropdown {
    border: 1px solid rgba(48, 0, 111, 0.829);
    background: #FFFFFF;
    height: 30px;
    font-size: 12px;
    font-style: italic;
    width: 100%;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

:host>>>.ui-radiobutton-label {
    width: 30%;
}

.custom-label {
    display: block;
    color: gray;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
}