<p-card>
  <div class="ui-fluid">
    <form #repoForm novalidate [formGroup]="repoConsultingForm" (ngSubmit)="searchData()">
      <div class="p-grid">

        <div class="p-field p-col-6">
          <label for="tableSource"><span class="text-danger">*</span> Data Source</label>
          <p-dropdown #dataSourceDropdown id="tableSource" [options]="tables" formControlName="tableSource"
            (onChange)="onDataSourceChange($event.value)" (onShow)="onDataSourceOpen()">
          </p-dropdown>
          <small class="text-danger" *ngIf="tableSourceControl.invalid && tableSourceControl.touched">Table Source is
            <strong>Required</strong>.</small>
        </div>

        <div class="p-col" style="margin-top: auto;" *ngIf="unbTable">
          <p-checkbox formControlName="exactMatch" binary="false" inputId="exactMatch"></p-checkbox>
          <label for="exactMatch" style="margin: 0 0 0 .5em; font-weight: bold;">Exact Match</label>
        </div>

        <div class="p-col" style="text-align: right; padding-top: 25px;">
          <button type="button" class="btn-transparent" (click)="clear()" title="Clear Criteria">
            <em class="fa fa-eraser"></em>
          </button>

          <button [disabled]="repoConsultingForm.invalid" [ngClass]="{'invalid-button': repoConsultingForm.invalid}"
            type="submit" class="btn-transparent" title="Search Data"><em class="fa fa-search"></em></button>

        </div>

      </div>

      <div class="p-grid">
        <div class="p-field p-col" formArrayName="searchCriteria"
          *ngFor="let searchCriteriaElement of searchCriteriaElements; index as key">

          <div [ngSwitch]="searchCriteriaElement.uiDataType">

            <div *ngSwitchCase="'range_text'">
              <div
                [ngClass]="searchCriteriaElement.attributeName.includes('From') ? 'p-grid-group-right' : 'p-grid-group-left'">
                <label for="attributes">
                  <span *ngIf="searchCriteriaElement.mandatory" class="text-danger">*</span>
                  {{searchCriteriaElement.attributeName}}: </label>
                <input type="text" pInputText style="height: 30px; min-width: 150px;" [formControlName]="key">
              </div>
            </div>

            <div *ngSwitchCase="'text'">
              <label for="attributes">
                <span *ngIf="searchCriteriaElement.mandatory" class="text-danger">*</span>
                {{searchCriteriaElement.attributeName}}: </label>
              <input type="text" pInputText style="height: 30px; min-width: 150px;" [formControlName]="key">
            </div>

            <div *ngSwitchCase="'number'">
              <label for="attributes">
                <span *ngIf="searchCriteriaElement.mandatory" class="text-danger">*</span>
                {{searchCriteriaElement.attributeName}}: </label>
              <input type="number" step="any" pInputText style="height: 30px; min-width: 150px;" [formControlName]="key">
            </div>

            <div *ngSwitchCase="'range_date'">
              <div
                [ngClass]="searchCriteriaElement.attributeName.includes('From') ? 'p-grid-group-right' : 'p-grid-group-left'">
                <label for="attributes">
                  <span *ngIf="searchCriteriaElement.mandatory" class="text-danger">*</span>
                  {{searchCriteriaElement.attributeName}}: </label>
                <p-calendar [style]="{'min-width': '150px'}" [yearRange]="yearValidRange" [monthNavigator]="true"
                  [yearNavigator]="true" [formControlName]="key">
                </p-calendar>
              </div>
            </div>

            <div *ngSwitchCase="'date'">
              <label for="attributes">
                <span *ngIf="searchCriteriaElement.mandatory" class="text-danger">*</span>
                {{searchCriteriaElement.attributeName}}: </label>
              <p-calendar [style]="{'min-width': '150px'}" [yearRange]="yearValidRange" [monthNavigator]="true"
                [yearNavigator]="true" [formControlName]="key">
              </p-calendar>
            </div>

            <div *ngSwitchCase="'checkbox'">
              <div class="row" style="padding-left: 10px;">

                <label for="attributes">
                  <span *ngIf="searchCriteriaElement.mandatory" class="text-danger">*</span>
                  {{searchCriteriaElement.attributeName}}: </label>
              </div>
              <div class="row" style="padding-left: 10px; padding-top: 10px;">

                <p-triStateCheckbox [formControlName]="key">
                </p-triStateCheckbox>
              </div>
            </div>

            <div *ngSwitchCase="'dropdown'">
              <label for="attributes">
                <span *ngIf="searchCriteriaElement.mandatory" class="text-danger">*</span>
                {{searchCriteriaElement.attributeName}}: </label>
              <p-multiSelect id="dataset" [style]="{'height':'30px', 'min-width': '300px'}"
                [options]="searchCriteriaElement.dropDownElements" [formControlName]="key" [maxSelectedLabels]="3">
              </p-multiSelect>
            </div>

            <div *ngSwitchCase="'radio_button'">
              <div [class]="setRadioButtonStyles(key)">
                <label for="attributes" style="display: none;" [class]="setVisibleLabelRadioButtons(key)"> {{searchCriteriaElement.columnName}} </label><br>
                  <label for="attributes">
                    <span *ngIf="searchCriteriaElement.mandatory" class="text-danger">*</span>
                    {{searchCriteriaElement.attributeName}}: </label>&nbsp;
                  <p-radioButton  (onClick)="setRadioButtonValue(key, searchCriteriaElement)" [formControlName]="key" [value]="searchCriteriaElement.attributeName">
                  </p-radioButton>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>

    <br *ngIf="submited">
    <div class="p-grid" *ngIf="submited">
      <div class="p-col">
        <ecl-table #repoDataTable [tableModel]="dataTableConfiguration" (onServiceCall)="onServiceCall($event)">
        </ecl-table>
      </div>
    </div>
  </div>

</p-card>

<p-blockUI [blocked]="blocked">
  <div class="img-loading text-center">
    <img src="assets/img/loading.gif"/>
    <p style="font-size: 12px;color: #fff;">{{blockedMessage}}</p>
  </div>
</p-blockUI>

<p-dialog [header]="headerText" [(visible)]="saveDisplay" appendTo="body" [draggable]="false" [resizable]="false"
  [modal]="true">
  <p>{{message}}</p>
  <p-footer>
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <button name="cancelDialogbtn" class="btn btn-primary" pButton icon="pi pi-check" (click)="saveDialog()"
            label="OK"></button>
        </div>
      </div>
    </div>
  </p-footer>
</p-dialog>