.has-sticky-header .sticky-sections {
  top: 45px;
}

.button.is-text {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  font-size: 12px;
}

.is-pulled-right {
  float: right !important;
}

.dnb-drag-placeholder {
  border: 2px dashed #afafaf;
  height: 50px;
  background-color: #d8d8d8;
}

.page-content {
  margin-left: auto;
  width: calc(100% - 150px);
  padding: 15px 50px;
}

.navigation-closed .page-content {
  width: calc(100% - 50px);
}

.dnb-page-header {
  display: flex;
  justify-content: space-between;
}

.dnb-modal {
  width: 50vh;
  max-width: 500px;
}

body .dnb-page .ui-listbox .ui-listbox-header {
  border: none;
}

.dnb-page .ui-listbox-header::after {
  clear: both;
  content: "Select All";
  display: inline-block;
  vertical-align: middle;
}

body
  .dnb-page
  .ui-listbox
  .ui-listbox-list
  .ui-listbox-item.ui-state-highlight {
  color: #333333 !important;
  background-color: #ffffff !important;
}

body .dnb-page .ui-listbox {
  margin-bottom: 10px;
  border: none;
}

body .dnb-page .ui-overlaypanel .ui-overlaypanel-content {
  padding: 10px;
}

body .dnb-page .ui-listbox .ui-listbox-list .ui-listbox-item {
  padding: 3px 0;
}

body .dnb-page .ui-listbox .ui-listbox-header {
  padding: 3px 0;
}

body
  .dnb-page
  .ui-listbox:not(.ui-state-disabled)
  .ui-listbox-item:not(.ui-state-highlight):not(.ui-state-disabled):hover {
  background-color: #ffffff;
}

body .dnb-page .ui-listbox {
  max-height: 320px;
  overflow-y: scroll;
}

.section-titles {
  padding-top: 20px !important;
}

.copy-overlay {
  top: 25px !important;
  left: -123px !important;
}

.dnb-toggle {
  position: relative;
}

.current-toggle {
  min-width: 132px;
}

.drug-name {
  border: 0;
  display: inline-block;
  font-weight: normal;
  position: relative;
  top: 6px;
}

.drug-name .ql-container {
  font-size: 16px !important;
  font-weight: 500 !important;
  color: #31006f;
}

.dnb-drug-title-name {
  position: relative;
  top: -9px;
}

.dnb-progress-checkbox
  ::ng-deep
  p-checkbox
  .ui-chkbox
  .ui-chkbox-box
  .ui-chkbox-icon {
  font-size: 14px;
}

.dnd-label-percentage {
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  color: #31006f;
}

.inges-btn {
  margin-left: 5px;
  padding: 0 5px !important;
  width: 60px !important;
  display: flex;
  flex: 0 0 60px;
  align-items: center;
  justify-content: center;
}

.inges-btn .fa {
  padding-right: 5px;
}

.ingest-overlay {
  top: 34px !important;
  left: auto !important;
  right: 12px;
}

.ingest-overlay:before {
  margin-right: -2px;
}

.ingest-overlay:before,
.ingest-overlay:after {
  left: auto;
  right: 1.25em;
}

.sticky-header {
  background-color: #f2f3f7 !important;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 10px 0 5px;
}

.has-sticky-header .sticky-header {
  border-bottom: 1px solid #31006f;
}

.dnd-label-autosave {
  font-size: 12px;
  font-style: normal;
  color: #31006f;
  padding: 6px;
}

.autosave-toggle {
  margin: auto 0;
}
