<app-spinner></app-spinner>
<app-header *ngIf="!isLogin"></app-header>

<app-menu *ngIf="!isLogin"></app-menu>

<div id="router-outlet" [ngClass]="isLogin ? 'no-margin' : ''">
  <div id="showRouter"><router-outlet></router-outlet></div>
    <!-- Print Overlay for print function -->
    <div id="showPrint"><app-print-page (printDisplay)="setPrintDisplay($event)"></app-print-page></div>
    <p-toast key="globalToast" [baseZIndex]="999999" [style]="{'white-space': 'pre-line', 'width':'25%'}"></p-toast>
</div>

<div *ngIf="!isLogin" class="footer">
    <div class="footer_contents">MY ROLES: {{getUserRoles()}}</div>
</div>

<!-- Home Page Dialog for ALT-D Short-cut -->
<p-confirmDialog header="Navigate to Dashboard" icon="pi pi-exclamation-triangle" id="confirmationDialog" key="navigate">
  <p>{{message}}</p>
</p-confirmDialog>

<!-- Session Logout Dialog -->
<p-confirmDialog #cd header="ECL Session Timeout" icon="pi pi-exclamation-triangle" id="confirmationDialog" key="session">
  <p>{{message}}</p>
  <p-footer>
    <div class="row">
      <div class="col-md-8">
        <button name="cancelDialogbtn" class="btn btn-primary" pButton icon="pi pi-check"
                (click)="cd.accept()" label="OK"></button>
      </div>
    </div>
  </p-footer>
</p-confirmDialog>
