<h5 style="font-size : 17px;margin-bottom: 15px;">{{pageTitle}}</h5>
<p-tabView (onChange)="handleTabViewChange($event)"  [activeIndex]="tabIndex">
  <p-tabPanel [header]="constantsHeader.TAB_NOT_ASSIGNED">
    <div>
        <div  style="margin-right: 10px;" class="float-right">          
            <label style="margin-right: 10px;">Team Filter</label>
            <p-dropdown [autoWidth]="false" [style]="pDropdownStyle" 
            [options]="extraDropDownOptions" [(ngModel)]="teamNotAssignedTab" (onChange)="filterByTeams('notAssigned')"></p-dropdown>           
        </div>
        <br>
        <br>       
       <ecl-table #notAssignedTable *ngIf="tabIndex == 0" 
            [tableModel]='notAssignedTabModel' 
            (onAcctionLink)="showIdeaOrReferenceInfo($event)"
            (onSelectRecord)="setSelectRules($event, 'notAssigned')"
            (onUnSelectRecord)="setSelectRules($event, 'notAssigned')"
            (onServiceCall)="onServiceCall($event, 'notAssigned')"></ecl-table>
        <br>
        <p-dropdown #userDD required [options]="researchAnalystUsers" [disabled]="!this.selectedIdeasNotAssigned || this.selectedIdeasNotAssigned.length < 1"
            [(ngModel)]="selectedUserNotAssigned" [filter]="true" (onChange)="this.userDD.resetFilter();" filterBy="label,value" [style]="{'width':'150px'}"
            class="float-left small-td"></p-dropdown>

        <button type="submit" value="Reassign" (click)="reassignIdeasNotAssigned($event)"
            [disabled]="!this.selectedUserNotAssigned || !this.selectedIdeasNotAssigned || this.selectedIdeasNotAssigned.length < 1"
            class="btn btn-primary btn-default-height  small-td">Assign</button>

        <button (click)="resetDataTable('notAssigned');" style="display: inherit"
            class="btn btn-primary btn-default-height float-right small-td" type="button"
            value="refreshAssignIdea">Refresh</button>
    </div>
  </p-tabPanel>
  <p-tabPanel [header]="constantsHeader.TAB_ASSIGNED">
    <div>
        <div  style="margin-right: 10px;" class="float-right">          
            <label style="margin-right: 10px;">Team Filter</label>
            <p-dropdown [autoWidth]="false" [style]="pDropdownStyle" 
            [options]="extraDropDownOptions" [(ngModel)]="teamAssignedTab" (onChange)="filterByTeams('assigned')"></p-dropdown>           
        </div>
        <br>
        <br>
        <ecl-table #assignedTable *ngIf="tabIndex == 1" 
            [tableModel]='assignedTabModel' 
            (onAcctionLink)="showIdeaOrReferenceInfo($event)"
            (onSelectRecord)="setSelectRules($event, 'assigned')"
            (onUnSelectRecord)="setSelectRules($event, 'assigned')"
            (onServiceCall)="onServiceCall($event, 'assigned')">

        </ecl-table>
        <br>
        <p-dropdown #userDD1 required [options]="researchAnalystUsers" [disabled]="!this.selectedIdeasAssigned || this.selectedIdeasAssigned.length < 1"
            [(ngModel)]="selectedUserAssigned" [filter]="true" (onChange)="this.userDD1.resetFilter();" filterBy="label,value" [style]="{'width':'150px'}"
            class="float-left small-td"></p-dropdown>

        <button type="submit" value="Reassign" (click)="reassignIdeasAssigned($event)"
            [disabled]="!this.selectedUserAssigned || !this.selectedIdeasAssigned || this.selectedIdeasAssigned.length < 1"
            class="btn btn-primary btn-default-height  small-td">Assign</button>

        <button (click)="resetDataTable('assigned');" style="display: inherit"
            class="btn btn-primary btn-default-height float-right small-td" type="button"
            value="refreshAssignIdea">Refresh</button>
    </div>
  </p-tabPanel>
  <p-tabPanel [header]="constantsHeader.TAB_RETURNED">
    <div>
        <div  style="margin-right: 10px;" class="float-right">          
            <label style="margin-right: 10px;">Team Filter</label>
            <p-dropdown [autoWidth]="false" [style]="pDropdownStyle" 
            [options]="extraDropDownOptions" [(ngModel)]="teamReturnedTab" (onChange)="filterByTeams('returned')"></p-dropdown>           
        </div>
        <br>
        <br>
        <ecl-table #returnedTable *ngIf="tabIndex == 2" 
            [tableModel]='returnedTabModel' 
            (onAcctionLink)="showIdeaOrReferenceInfo($event)"
            (onSelectRecord)="setSelectRules($event, 'returned')"
            (onUnSelectRecord)="setSelectRules($event, 'returned')"
            (onServiceCall)="onServiceCall($event, 'returned')"
            (onHoverColumn)="showReturnComments($event)">
        </ecl-table>        
        <br>
        <p-dropdown #userDD2 required [options]="researchAnalystUsers" [disabled]="!this.selectedIdeasReturned || this.selectedIdeasReturned.length < 1"
            [(ngModel)]="selectedUserReturned" [filter]="true" (onChange)="this.userDD2.resetFilter();" filterBy="label,value" [style]="{'width':'150px'}"
            class="float-left small-td"></p-dropdown>

        <button type="submit" value="Reassign" (click)="reassignIdeasReturned($event)"
            [disabled]="!this.selectedUserReturned || !this.selectedIdeasReturned || this.selectedIdeasReturned.length < 1"
            class="btn btn-primary btn-default-height  small-td">Assign</button>

        <button (click)="resetDataTable('returned');" style="display: inherit"
            class="btn btn-primary btn-default-height float-right small-td" type="button"
            value="refreshAssignIdea">Refresh</button>
    </div>
  </p-tabPanel>
</p-tabView>
<p-overlayPanel #op>
    {{this.customToolTip}}
</p-overlayPanel>
